button {
  width: 217px;
  height: 51px;
  border-radius: 25px;
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: $main-color;
  border: 0;
  transition: 1s;
}
.header__content button:hover {
  background: #ffffff;
  color: $main-color;
  transition: 1s;
 }
.services__checkServices-button button:hover {
  transform: scale(1.1);
}
.content__article button:hover {
  transform: scale(1.1);
}
