.services {
  width: 100%;
  min-height: 3250px;
  position: relative;
  overflow: hidden;

}
.services__header {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #242424;
}
.services__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.services__items--item {
  margin: 0 30px;
  margin-top: 80px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .item--icon {

    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3 {
    margin-top: 55px;
    font-family: $main-font;
    font-size: 24px;
    color: #242424;
  }
  p {
    font-family: $main-font;
    font-size: 14px;
    color: #878787;
    line-height: 24px;
    text-align: center;
    margin-top: 34px;
  }

}
.services__items--button {
  display: flex;
  justify-content: center;
  align-items: center;
}
